<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Automatic Process</title>
    <link rel="stylesheet" href="http://localhost:3000/stylesheets/a-next.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Luna AstroTools</div>
      <i class='bx bxs-moon' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/account">
          <i class='bx bxs-user-account' ></i>
          <span class="links_name">Account</span>
        </a>
        <span class="tooltip">Account</span>
      </li>
      <li>
        <a href="/processed">
          <i class='bx bx-image' ></i>
          <span class="links_name">Processed Photos</span>
        </a>
        <span class="tooltip">Processed Photos</span>
     </li>
     <li>
      <a href="/repository">
        <i class='bx bx-folder' ></i>
        <span class="links_name">Unprocessed Photos</span>
      </a>
      <span class="tooltip">Unprocessed Photos</span>
     </li>
     <li>
      <a href="/upload">
        <i class='bx bx-cloud-upload'></i>
        <span class="links_name">Upload Photos</span>
      </a>
      <span class="tooltip">Upload Photos</span>
     </li>
     <li>
      <a href="/a-process">
        <i class='bx bx-fast-forward-circle' ></i>
        <span class="links_name">Automatic Process</span>
      </a>
      <span class="tooltip">Automatic Process</span>
     </li>
     <li>
      <a href="/m-process">
        <i class='bx bx-play-circle'></i>
        <span class="links_name">Manual Process</span>
      </a>
      <span class="tooltip">Manual Process</span>
     </li>
     <li>
      <a href="/histogram">
        <i class='bx bx-line-chart-down'></i>
        <span class="links_name">Histogram</span>
      </a>
      <span class="tooltip">Histogram</span>
     </li>
     <li>
      <a href="/image-editor">
        <i class='bx bx-paint'></i>
        <span class="links_name">Edit Image</span>
      </a>
      <span class="tooltip">Edit Image</span>
     </li>
     <li class="profile">
         <div class="profile-details">
            <div class="name_job">
              <div class="name">User</div>
              <div class="job"><%= user %></div>
            </div>
         </div>
         <form id="LogOut" action="/login/logoff" method="POST">
          <a href="#" onclick="document.getElementById('LogOut').submit();">
            <i class='bx bx-log-out' id="log_out" ></i>
          </a>
        </form>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Automatic Process</div>
    <p>
      <form action="/a-process/a-exec" method="POST">
        <div class="flex-container">
          <div class="flex-item-1">
            <p>Use a Base Frame:</p>
            <fieldset id="baseFrame">
              <input type="radio" value="Yes" name="baseFrame">
              <label for="baseFrame">Yes</label>
              <input type="radio" value="No" name="baseFrame" checked>
              <label for="baseFrame">No</label>
              <br>
              <select name="baseName" id="baseName">
                <% if(photos){ %>
                  <% for(var photo of photos) { %>
                    <option value="<%=photo%>"><%=photo%></option>
                  <% } %>
                <% }else { %>
                  <p class="card card-body text-center display-4 my-4" style="color:aliceblue">No album</p>
                <% } %>
              </select>
            </fieldset>
            <br>
            <p>Use a Dark Frame:</p>
            <fieldset id="darkFrame">
              <input type="radio" value="Yes" name="darkFrame">
              <label for="darkFrame">Yes</label>
              <input type="radio" value="No" name=darkFrame checked>
              <label for="darkFrame">No</label>
              <br>
              <select name="darkName" id="darkName">
                <% if(photos){ %>
                  <% for(var photo of photos) { %>
                    <option value="<%=photo%>"><%=photo%></option>
                  <% } %>
                <% }else { %>
                  <p class="card card-body text-center display-4 my-4" style="color:aliceblue">No album</p>
                <% } %>
              </select>
            </fieldset>
          </div>
          <div class="flex-item-2">
            <p>Use a Flat Frame:</p>
            <fieldset id="flatFrame">
              <input type="radio" value="Yes" name="flatFrame">
              <label for="flatFrame">Yes</label>
              <input type="radio" value="No" name="flatFrame" checked>
              <label for="flatFrame">No</label>
              <br>
              <select name="flatName" id="flatName">
                <% if(photos){ %>
                  <% for(var photo of photos) { %>
                    <option value="<%=photo%>"><%=photo%></option>
                  <% } %>
                <% }else { %>
                  <p class="card card-body text-center display-4 my-4" style="color:aliceblue">No album</p>
                <% } %>
              </select>
            </fieldset>
            <br>
            <p>Use a Mask Frame:</p>
            <fieldset id="maskFrame">
              <input type="radio" value="Yes" name="maskFrame">
              <label for="maskFrame">Yes</label>
              <input type="radio" value="No" name="maskFrame" checked>
              <label for="maskFrame">No</label>
              <br>
              <select name="maskName" id="maskName">
                <% if(photos){ %>
                  <% for(var photo of photos) { %>
                    <option value="<%=photo%>"><%=photo%></option>
                  <% } %>
                <% }else { %>
                  <p class="card card-body text-center display-4 my-4" style="color:aliceblue">No album</p>
                <% } %>
              </select>
            </fieldset>
          </div>
          <div class="flex-item-3">
            <p>Output Name:</p>
            <fieldset id="outputName">
              <input type="text" name="outputName" value="My-Processed-Photo" placeholder="My-Processed-Photo">
            </fieldset>
            <br>
            <p>Image Format</p>
            <fieldset>
              <select name="imageFormat" id="imageFormat">
                <option value=".tiff" selected>TIFF</option>
                <option value=".jpg">JPG</option>
                <option value=".png" >PNG</option>
              </select>
            </fieldset>
          </div>
          <div class="flex-item-4">
            <p>Color Space</p>
            <fieldset>
              <select name="colorSpace" id="colorSpace">
                <option value="2">Adobe</option>
                <option value="4">ProPhoto</option>
                <option value="3">Wide</option>
                <option value="5">XYZ</option>
                <option value="0">raw</option>
                <option value="1" selected>sRGB</option>
              </select>
            </fieldset>  
            <br>
            <button type="submit" onclick="hideElement()">Process</button>
          </div> 
        </div>
      </form>
      <div class="demo-container">
        <h5 style="color:aliceblue">Please Wait...</h5>
        <div class="progress-bar">
          <div class="progress-bar-value"></div>
        </div>
      </div>
    </p>
  </section>
  
  <script src="../javascripts/left_bar.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $('input[name="baseFrame"]').click(function(e) {
      if(e.target.value === 'Yes') {
        $('#baseName').show();
      } else {
        $('#baseName').hide();
      }
    })
    $('#baseName').hide();
  </script>
  <script>
    $('input[name="darkFrame"]').click(function(e) {
      if(e.target.value === 'Yes') {
        $('#darkName').show();
      } else {
        $('#darkName').hide();
      }
    })
    $('#darkName').hide();
  </script>
  <script>
    $('input[name="flatFrame"]').click(function(e) {
      if(e.target.value === 'Yes') {
        $('#flatName').show();
      } else {
        $('#flatName').hide();
      }
    })
    $('#flatName').hide();
  </script>
  <script>
    $('input[name="maskFrame"]').click(function(e) {
      if(e.target.value === 'Yes') {
        $('#maskName').show();
      } else {
        $('#maskName').hide();
      }
    })
    $('#maskName').hide();
  </script>
  <script>
    function hideElement() {
      element = document.querySelector('.flex-container');
      element.style.visibility = 'hidden';
      element = document.querySelector('.demo-container');
      element.style.visibility = 'visible';
    }
  </script>
</body>
</html>