<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Processed Photos</title>
    <link rel="stylesheet" href="../stylesheets/processed.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <div class="logo_name">Luna: AstroTools</div>
      <i class='bx bxs-moon' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/account">
          <i class='bx bxs-user-account' ></i>
          <span class="links_name">Account</span>
        </a>
        <span class="tooltip">Account</span>
      </li>
      <li>
        <a href="/processed">
          <i class='bx bx-image' ></i>
          <span class="links_name">Processed Photos</span>
        </a>
        <span class="tooltip">Processed Photos</span>
     </li>
     <li>
      <a href="/repository">
        <i class='bx bx-folder' ></i>
        <span class="links_name">Unprocessed Photos</span>
      </a>
      <span class="tooltip">Unprocessed Photos</span>
     </li>
     <li>
      <a href="/upload">
        <i class='bx bx-cloud-upload'></i>
        <span class="links_name">Upload Photos</span>
      </a>
      <span class="tooltip">Upload Photos</span>
     </li>
     <li>
      <a href="/a-process">
        <i class='bx bx-fast-forward-circle' ></i>
        <span class="links_name">Automatic Process</span>
      </a>
      <span class="tooltip">Automatic Process</span>
     </li>
     <li>
      <a href="/m-process">
        <i class='bx bx-play-circle'></i>
        <span class="links_name">Manual Process</span>
      </a>
      <span class="tooltip">Manual Process</span>
     </li>
     <li>
      <a href="/histogram">
        <i class='bx bx-line-chart-down'></i>
        <span class="links_name">Histogram</span>
      </a>
      <span class="tooltip">Histogram</span>
     </li>
     <li>
      <a href="/paint">
        <i class='bx bx-paint'></i>
        <span class="links_name">Edit Image</span>
      </a>
      <span class="tooltip">Edit Image</span>
     </li>
     <li class="profile">
         <div class="profile-details">
            <div class="name_job">
              <div class="name">User</div>
              <div class="job"><%= user %></div>
            </div>
         </div>
         <form id="LogOut" action="/login/logoff" method="POST">
          <a href="#" onclick="document.getElementById('LogOut').submit();">
            <i class='bx bx-log-out' id="log_out" ></i>
          </a>
        </form>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Processed Photos</div>
    <p>
      <div class="flex-container">
        <% if(images){ %>
          <% var previewImg %>
          <% for(var image of images) { %>
            <% if(image.indexOf(".tiff")) { %>
              <% previewImg = image.replace(".tiff", '') %>
            <% }else { %>
              <% if(image.indexOf(".jpg")) { %>
                <% previewImg = image.replace(".jpg", '') %>
              <% }else { %>
                <% previewImg = image %>
              <% } %>       
            <% } %>
            <div class="flex-item">
              <img src="../previews/processed_photos/<%=userId%>/<%=previewImg%>.png">
              <h3> <%= image %></h3>
              <form action="../previews/processed_photos/<%=userId%>/<%=previewImg%>.png" target="_blank">
                <button class="button">Preview</button>
              </form>
              <form action="/processed/download/<%= image %>" method="GET">
                <button class="button">Download</button>
              </form>
              <form action="/processed/del-img/<%= image %>?_method=DELETE" method="POST">
                <button class="button">Delete</button>
              </form>
            </div>
          <% } %>     
        <% }else { %>
          <p class="card card-body text-center display-4 my-4" style="color:aliceblue">Folder is empty</p>
        <% } %>
      </div>
    </p>
  </section>
  
  <script src="../javascripts/left_bar.js"></script>
  
</body>
</html>